$font-hero: "arial black";
$color-main:#402218;
$color-sub:#B20600;
$color-background:#EADCA6;
$color-text:#C36A2D;
$color-header:#db0000;
$font-title: "Trebuchet MS";
$font-desc:"Calibri";
$font-rev:"Segoe UI";
$skeleton: #eeeeee;


main {
    padding: 32px 0;
    flex: 1;
    background-color: $color-background;
}

*{
    padding: 0;
    margin: 0;
}
   
body {
    font-family: 'Poppins', sans-serif;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
//skip link
.skip-link{
    position: absolute;
    top: -100%;
    left: -100%;
    padding: 1rem;
    background-color: $color-background;
    color: $color-text;
    text-decoration: none;
    z-index: 100;
    font-size: 1.2rem;
    &:focus {
      top: 0;
      left: 0;
    }
  }

#loading-failed{
    display: none;
}
#loading-failed.display{
    display: block;
    background-color:$color-main ;
    h3{
        color: $color-header;
        font-weight: bolder;
        padding: 10px;
    }
}
  #loading {
    width: 5rem;
    height: 5rem;
    border: 10px solid #f3f3f3;
    border-top: 6px solid black;
    border-radius: 100%;
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
}
#loading.display {
   display: block;
   position :absolute;
   left: 50%;
   transform: translate( -50%);
}
@media screen and (max-width:800px) {
    #loading.display{
        top:100px;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


       